{
  "tailwindFunctions": [
    "twJoin",
    "clsx",
    "tw",
    "tv",
    "cn",
    "twMerge",
    "tm",
    "cx"
  ],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 120,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "singleQuote": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false
}
