@layer base {
  :root {
    --bg: oklch(1 0 0);
    --fg: oklch(0.141 0.005 285.823);

    --primary: oklch(0.546 0.245 262.881);
    --primary-fg: oklch(1 0 0);

    --secondary: oklch(0.967 0.001 286.375);
    --secondary-fg: oklch(0.141 0.005 285.823);

    --accent: oklch(0.546 0.245 262.881);
    --accent-fg: oklch(1 0 0);

    --muted: oklch(0.967 0.001 286.375);
    --muted-fg: oklch(0.552 0.016 285.938);

    --overlay: oklch(1 0 0);
    --overlay-fg: oklch(0.141 0.005 285.823);

    --success: oklch(0.696 0.17 162.48);
    --success-fg: oklch(97.9% 0.021 166.113);

    --info: oklch(0.685 0.169 237.323);
    --info-fg: oklch(0.443 0.11 240.79);

    --warning: oklch(0.828 0.189 84.429);
    --warning-fg: oklch(0.279 0.077 45.635);

    --danger: oklch(0.577 0.245 27.325);
    --danger-fg: oklch(1 0 0);

    --navbar: oklch(0.987 0.001 286.375);
    --navbar-fg: oklch(0.141 0.005 285.823);

    --sidebar: oklch(0.967 0.001 286.375);
    --sidebar-fg: oklch(0.141 0.005 285.823);

    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.89 0.004 286.32);
    --ring: oklch(0.546 0.245 262.881);

    --chart-1: oklch(0.546 0.245 262.881);
    --chart-2: oklch(0.707 0.165 254.624);
    --chart-3: oklch(0.809 0.105 251.813);
    --chart-4: oklch(0.882 0.059 254.128);
    --chart-5: oklch(0.932 0.032 255.585);
  }

  .dark {
    --bg: oklch(0 0 0);
    --fg: oklch(1 0 0);

    --primary: oklch(0.546 0.245 262.881);
    --primary-fg: oklch(1 0 0);

    --secondary: oklch(0.264 0.006 286.033);
    --secondary-fg: oklch(0.985 0 0);

    --accent: oklch(0.546 0.245 262.881);
    --accent-fg: oklch(1 0 0);

    --muted: oklch(0.21 0.006 285.885);
    --muted-fg: oklch(0.705 0.015 286.067);

    --overlay: oklch(14.1% 0.005 285.823);
    --overlay-fg: oklch(0.985 0 0);

    --success: oklch(0.696 0.17 162.48);
    --success-fg: oklch(0.979 0.021 166.113);

    --info: oklch(0.685 0.169 237.323);
    --info-fg: oklch(0.443 0.11 240.79);

    --warning: oklch(0.828 0.189 84.429);
    --warning-fg: oklch(0.279 0.077 45.635);

    --danger: oklch(0.577 0.245 27.325);
    --danger-fg: oklch(1 0 0);

    --navbar-bg: oklch(0.17 0.006 285.885);
    --navbar-fg: oklch(0.97 0.014 254.604);

    --sidebar: oklch(0.17 0.006 285.885);
    --sidebar-fg: oklch(0.97 0.014 254.604);

    --border: oklch(0.244 0.006 286.033);
    --input: oklch(0.264 0.006 286.033);
    --ring: oklch(0.546 0.245 262.881);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.707 0.165 254.624);
    --chart-3: oklch(0.809 0.105 251.813);
    --chart-4: oklch(0.882 0.059 254.128);
    --chart-5: oklch(0.932 0.032 255.585);
  }
}
