@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: var(--font-mono), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-toggle: var(--toggle);
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
  --color-tertiary: var(--tertiary);
  --color-tertiary-fg: var(--tertiary-fg);
  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);
  --color-accent-subtle: var(--accent-subtle);
  --color-accent-subtle-fg: var(--accent-subtle-fg);
  --color-success: var(--success);
  --color-success-fg: var(--success-fg);
  --color-info: var(--info);
  --color-info-fg: var(--info-fg);
  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);
  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);
  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --radius-3xl: calc(var(--radius) + 7.5px);
  --radius-2xl: calc(var(--radius) + 5px);
  --radius-xl: calc(var(--radius) + 2.5px);
  --radius-lg: calc(var(--radius));
  --radius-md: calc(var(--radius) - 2.5px);
  --radius-sm: calc(var(--radius) - 5px);

  --animate-blink: blink 1.4s both infinite;

  @keyframes blink {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}

@utility scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

@layer base {
  :root {
    --light: oklch(98 0 0);
    --dark: oklch(0.141 0.005 285.823);
    --bg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --fg: oklch(0.141 0.005 285.823);
    --overlay: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --overlay-fg: oklch(0.141 0.005 285.823);
    --primary: oklch(0.5896 0.2294 260.19);
    --primary-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-fg: oklch(0.141 0.005 285.823);
    --tertiary: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --tertiary-fg: oklch(0.21 0.006 285.885);
    --accent: oklch(0.5896 0.2294 260.19);
    --accent-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --accent-subtle: oklch(0.9703 0.0139 259.82);
    --accent-subtle-fg: oklch(0.4643 0.2046 260.98);
    --success: oklch(0.58 0.13 160.92);
    --success-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --info: oklch(0.6596 0.1919 251.47);
    --info-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --muted: oklch(0.9197 0.004 286.32);
    --muted-fg: oklch(0.552 0.016 285.938);
    --danger: oklch(0.637 0.237 25.331);
    --danger-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --warning: oklch(0.769 0.188 70.08);
    --warning-fg: oklch(0.279 0.077 45.635);
    --border: oklch(0.9197 0.004 286.32);
    --input: oklch(0.8997 0.004 286.32);
    --ring: oklch(0.5896 0.2294 260.19);
    --toggle: oklch(0.8797 0.004 286.32);
    --primary-chart: oklch(0.6065 0.2265 260.04);
    --secondary-chart: oklch(0.7407 0.1418 253.28);
    --tertiary-chart: oklch(0.6621 0.1848 258.7);
    --highlight-chart: oklch(0.822 0.097 249.1);
    --accent-chart: oklch(0.8937 0.057 251.7);
    --radius: 0.5rem;
  }

  .dark {
    --bg: oklch(0 0 0);
    --fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --overlay: oklch(0.161 0.005 285.823);
    --overlay-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --primary: oklch(0.5896 0.2294 260.19);
    --primary-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --secondary: oklch(0.22 0.006 285.885);
    --secondary-fg: oklch(0.985 0 0);
    --tertiary: oklch(0.182 0.005 285.823);
    --tertiary-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --info: oklch(0.6596 0.1919 251.47);
    --info-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --success: oklch(0.58 0.13 160.92);
    --success-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --accent: oklch(0.5896 0.2294 260.19);
    --accent-fg: oklch(1 3.5594404384177905e-8 106.37411429114086);
    --accent-subtle: oklch(0.1283 0.0439 254.02);
    --accent-subtle-fg: oklch(0.8342 0.09757279812867503 240.7677443360475);
    --muted: oklch(0.274 0.006 286.033);
    --muted-fg: oklch(0.705 0.015 286.067);
    --ring: oklch(0.5896 0.2294 260.19);
    --toggle: oklch(0.37 0.013 285.805);
    --border: oklch(0.254 0.006 286.033);
    --input: oklch(0.274 0.006 286.033);
    --primary-chart: oklch(0.6065 0.2265 260.04);
    --secondary-chart: oklch(0.7407 0.1418 253.28);
    --tertiary-chart: oklch(0.6621 0.1848 258.7);
    --highlight-chart: oklch(0.822 0.097 249.1);
    --accent-chart: oklch(0.8937 0.057 251.7);
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  * {
    @apply border-border;
    font-feature-settings: 'cv11', 'ss01';
    font-variation-settings: 'opsz' 850;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
  }

  body {
    @apply bg-bg text-fg;
  }


  /* dark mode */
  .dark {
    scrollbar-width: thin;

    @media (prefers-color-scheme: dark) {
      * {
        scrollbar-width: thin;
      }
    }
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-muted;
    border-radius: 14px;
    border: 3px solid transparent;
  }
}
