:root {
  --bg: oklch(0.985 0.002 247.839);
  --fg: oklch(0.13 0.028 261.692);

  --primary: oklch(0.13 0.028 261.692);
  --primary-fg: oklch(0.985 0.002 247.839);

  --secondary: oklch(0.928 0.006 264.531);
  --secondary-fg: oklch(0.13 0.028 261.692);

  --overlay: oklch(1 0 0);
  --overlay-fg: oklch(0.13 0.028 261.692);

  --accent: oklch(0.928 0.006 264.531);
  --accent-fg: oklch(0.13 0.028 261.692);

  --subtle: oklch(0.967 0.003 264.542);
  --subtle-fg: oklch(0.278 0.033 256.848);

  --muted: oklch(0.967 0.003 264.542);
  --muted-fg: oklch(0.551 0.027 264.364);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --info: oklch(0.685 0.169 237.323);
  --info-fg: oklch(1 0 0);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.872 0.01 258.338);
  --ring: oklch(0.13 0.028 261.692);

  --sidebar: oklch(0.967 0.003 264.542);
  --sidebar-fg: oklch(0.13 0.028 261.692);

  --sidebar-accent: oklch(0.928 0.006 264.531);
  --sidebar-accent-fg: oklch(0.13 0.028 261.692);

  --chart-1: oklch(0.21 0.034 264.665);
  --chart-2: oklch(0.373 0.034 259.733);
  --chart-3: oklch(0.446 0.03 256.802);
  --chart-4: oklch(0.551 0.027 264.364);
  --chart-5: oklch(0.707 0.022 261.325);
}

.dark {
  --bg: oklch(0.13 0.028 261.692);
  --fg: oklch(0.985 0.002 247.839);

  --primary: oklch(0.985 0.002 247.839);
  --primary-fg: oklch(0.13 0.028 261.692);

  --secondary: oklch(0.238 0.033 256.848);
  --secondary-fg: oklch(0.985 0.002 247.839);

  --accent: oklch(0.278 0.033 256.848);
  --accent-fg: oklch(0.985 0.002 247.839);

  --subtle: oklch(0.13 0.028 261.692);
  --subtle-fg: oklch(0.928 0.006 264.531);

  --muted: oklch(0.21 0.034 264.665);
  --muted-fg: oklch(0.707 0.022 261.325);

  --overlay: oklch(0.13 0.028 261.692);
  --overlay-fg: oklch(0.985 0.002 247.839);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --info: oklch(0.685 0.169 237.323);
  --info-fg: oklch(0.746 0.16 232.661);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --border: oklch(0.278 0.033 256.848);
  --input: oklch(0.278 0.033 256.848);
  --ring: oklch(0.985 0.002 247.839);

  --sidebar: oklch(0.16 0.034 264.665);
  --sidebar-fg: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-fg: oklch(0.985 0.002 247.839);

  --chart-1: oklch(0.278 0.033 256.848);
  --chart-2: oklch(0.373 0.034 259.733);
  --chart-3: oklch(0.551 0.027 264.364);
  --chart-4: oklch(0.707 0.022 261.325);
  --chart-5: oklch(0.872 0.01 258.338);
}
