@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light: 99.51% 0 0;
    --dark: 14.48% 0 0;
    --bg: 100.51% 0 0;
    --fg: 14.48% 0 0;
    --overlay: 99.51% 0 0;
    --overlay-fg: 20.46% 0 0;
    --primary: 20.46% 0 0;
    --primary-fg: 99.51% 0 0;
    --secondary: 97.02% 0 0;
    --secondary-fg: 26.86% 0 0;
    --tertiary: 99.97% 0 0;
    --tertiary-fg: 20.46% 0 0;
    --accent: 92.19% 0 0;
    --accent-fg: 20.46% 0 0;
    --accent-subtle: 93.19% 0 0;
    --accent-subtle-fg: 20.46% 0 0;
    --muted: 92.19% 0 0;
    --muted-fg: 55.55% 0 0;
    --success: 59.59% 0.127 163.23;
    --success-fg: 97.93% 0.021 166.11;
    --info: 65.08% 0.1906793232945444 251.28316095209283;
    --info-fg: 100% 3.5594404384177905e-8 106.37411429114086;
    --danger: 57.71% 0.215 27.32;
    --danger-fg: 97.05% 0.013 17.38;
    --warning: 83.69% 0.164 84.43;
    --warning-fg: 27.92% 0.074 45.64;
    --border: 92.19% 0 0;
    --input: 92.19% 0 0;
    --ring: 26.86% 0 0;
    --toggle: 86.99% 0 0;
    --radius: 0.5rem
  }

  .dark {
    --bg: 10.48% 0 0;
    --fg: 99.48% 0 0;
    --primary: 98.51% 0 0;
    --primary-fg: 20.46% 0 0;
    --secondary: 24.09% 0 0;
    --secondary-fg: 98.48% 0 0;
    --tertiary: 15.46% 0 0;
    --tertiary-fg: 98.51% 0 0;
    --overlay: 17.46% 0 0;
    --overlay-fg: 99.51% 0 0;
    --accent: 28.46% 0 0;
    --accent-fg: 100% 3.5594404384177905e-8 106.37411429114086;
    --accent-subtle: 22.86% 0 0;
    --accent-subtle-fg: 97.02% 0 0;
    --muted: 24.86% 0 0;
    --muted-fg: 72.55% 0 0;
    --info: 65.08% 0.1906793232945444 251.28316095209283;
    --info-fg: 100% 3.5594404384177905e-8 106.37411429114086;
    --success: 59.59% 0.127 163.23;
    --success-fg: 97.93% 0.021 166.11;
    --ring: 92.19% 0 0;
    --toggle: 38.15% 0 0;
    --border: 27.86% 0 0;
    --input: 28.15% 0 0
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  * {
    @apply border-border;
    font-feature-settings: 'cv11', 'ss01';
    font-variation-settings: 'opsz' 850;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
  }

  body {
    @apply bg-bg text-fg;
  }

  /* dark mode */
  .dark {
    scrollbar-width: thin;

    @media (prefers-color-scheme: dark) {
      * {
        scrollbar-width: thin;
      }
    }
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-muted;
    border-radius: 14px;
    border: 3px solid transparent;
  }
}
