:root {
  --bg: oklch(0.984 0.003 247.858);
  --fg: oklch(0.129 0.042 264.695);

  --primary: oklch(0.546 0.245 262.881);
  --primary-fg: oklch(1 0 0);

  --secondary: oklch(0.929 0.013 255.508);
  --secondary-fg: oklch(0.129 0.042 264.695);

  --overlay: oklch(1 0 0);
  --overlay-fg: oklch(0.129 0.042 264.695);

  --accent: oklch(0.546 0.245 262.881);
  --accent-fg: oklch(1 0 0);

  --muted: oklch(0.968 0.007 247.896);
  --muted-fg: oklch(0.554 0.046 257.417);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --info: oklch(0.685 0.169 237.323);
  --info-fg: oklch(1 0 0);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.869 0.022 252.894);
  --ring: oklch(0.546 0.245 262.881);

  --navbar: oklch(0.968 0.007 247.896);
  --navbar-fg: oklch(0.129 0.042 264.695);

  --sidebar: oklch(0.968 0.007 247.896);
  --sidebar-fg: oklch(0.129 0.042 264.695);

  --chart-1: oklch(0.546 0.245 262.881);
  --chart-2: oklch(0.707 0.165 254.624);
  --chart-3: oklch(0.809 0.105 251.813);
  --chart-4: oklch(0.882 0.059 254.128);
  --chart-5: oklch(0.932 0.032 255.585);
}

.dark {
  --bg: oklch(0.129 0.042 264.695);
  --fg: oklch(0.984 0.003 247.858);

  --primary: oklch(0.546 0.245 262.881);
  --primary-fg: oklch(1 0 0);

  --secondary: oklch(0.239 0.041 260.031);
  --secondary-fg: oklch(0.984 0.003 247.858);

  --accent: oklch(0.546 0.245 262.881);
  --accent-fg: oklch(1 0 0);

  --muted: oklch(0.208 0.042 265.755);
  --muted-fg: oklch(0.704 0.04 256.788);

  --overlay: oklch(0.239 0.041 260.031);
  --overlay-fg: oklch(0.984 0.003 247.858);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --info: oklch(0.685 0.169 237.323);
  --info-fg: oklch(0.746 0.16 232.661);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.546 0.245 262.881);

  --navbar: oklch(0.168 0.042 265.755);
  --navbar-fg: oklch(0.984 0.003 247.858);

  --sidebar: oklch(0.158 0.042 265.755);
  --sidebar-fg: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-fg: oklch(0.984 0.003 247.858);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.707 0.165 254.624);
  --chart-4: oklch(0.809 0.105 251.813);
  --chart-5: oklch(0.882 0.059 254.128);
}
