@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light: 100% 3.5594404384177905e-8 106.37411429114086;
    --dark: 12.88% 0.041 264.70;
    --bg: 100% 3.5594404384177905e-8 106.37411429114086;
    --fg: 20.77% 0.040 265.75;
    --primary: 65.48% 0.126 215.22;
    --primary-fg: 98.41% 0.018886387948753556 200.87303334486018;
    --secondary: 96.76% 0.001 286.38;
    --secondary-fg: 21.03% 0.006 285.88;
    --tertiary: 100% 3.5594404384177905e-8 106.37411429114086;
    --tertiary-fg: 27.47% 0.006 286;
    --accent: 92.88% 0.013 255.51;
    --accent-fg: 12.88% 0.041 264.70;
    --accent-subtle: 96.15% 0.018 209.43;
    --accent-subtle-fg: 45% 0.077 224.28;
    --overlay: 98.42% 0.003 247.86;
    --overlay-fg: 12.88% 0.041 264.70;
    --muted: 92.76% 0.006 264.53;
    --muted-fg: 55.1% 0.023 264.36;
    --success: 59.59% 0.127 163.23;
    --success-fg: 97.93% 0.021 166.11;
    --info: 65.08% 0.1906793232945444 251.28316095209283;
    --info-fg: 100% 3.5594404384177905e-8 106.37411429114086;
    --danger: 57.71% 0.215 27.32;
    --danger-fg: 97.05% 0.013 17.38;
    --warning: 83.69% 0.164 84.43;
    --warning-fg: 27.92% 0.074 45.64;
    --border: 92.88% 0.013 255.51;
    --input: 92.88% 0.013 255.51;
    --ring: var(--primary);
    --toggle: 86.90% 0.020 252.89;
    --radius: 0.5rem;
    --primary-chart: 60.89% 0.111 221.72;
    --secondary-chart: 86.51% 0.115 207.08;
    --tertiary-chart: 79.71% 0.134 211.53;
    --highlight-chart: 91.67% 0.077 205.04;
    --accent-chart: 95.63% 0.044 203.39
  }

  .dark {
    --bg: 9% 0.041 264.70;
    --fg: 98.48% 0 0;
    --primary: 71.48% 0.126 215.22;
    --primary-fg: 16.18% 0.054 229.7;
    --secondary: 20.77% 0.040 265.75;
    --secondary-fg: 98.42% 0.003 247.86;
    --tertiary: 12% 0.041 264.70;
    --tertiary-fg: 98.42% 0.003 247.86;
    --accent: 26.81% 0.03 256.85;
    --accent-fg: 99.46% 0.002 247.84;
    --accent-subtle: 20.18% 0.054 229.7;
    --accent-subtle-fg: 86.51% 0.115 207.08;
    --overlay: 12% 0.041 264.70;
    --overlay-fg: 98.42% 0.003 247.86;
    --muted: 27.95% 0.037 260.03;
    --muted-fg: 71.07% 0.035 256.79;
    --info: 65.08% 0.1906793232945444 251.28316095209283;
    --info-fg: 100% 3.5594404384177905e-8 106.37411429114086;
    --success: 59.59% 0.127 163.23;
    --success-fg: 97.93% 0.021 166.11;
    --ring: var(--primary);
    --toggle: 30% 0.039 257.29;
    --border: 23% 0.037 260.03;
    --input: 27.95% 0.037 260.03;
    --primary-chart: 57.89% 0.111 221.72;
    --secondary-chart: 86.51% 0.115 207.08;
    --tertiary-chart: 79.71% 0.134 211.53;
    --highlight-chart: 91.67% 0.077 205.04;
    --accent-chart: 95.63% 0.044 203.39
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  * {
    @apply border-border;
    font-feature-settings: 'cv11', 'ss01';
    font-variation-settings: 'opsz' 850;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
  }

  body {
    @apply bg-bg text-fg;
  }

  /* dark mode */
  .dark {
    scrollbar-width: thin;

    @media (prefers-color-scheme: dark) {
      * {
        scrollbar-width: thin;
      }
    }
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-muted;
    border-radius: 14px;
    border: 3px solid transparent;
  }
}
