@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --light: 0 0% 98.04%;
        --dark: 240 10% 6%;
        --bg: 0 0% 100%;
        --fg: 240 10% 3.9%;

        --overlay: 0 0% 100%;
        --overlay-fg: 240 10% 3.9%;

        --primary: 216.74 100% 50%;
        --primary-fg: 0 0% 100%;

        --secondary: 240 4.8% 95.9%;
        --secondary-fg: 240 5.9% 10%;

        --tertiary: 0 0% 100%;
        --tertiary-fg: 240 4% 16%;

        --accent: 216.74 100% 50%;
        --accent-fg: 0 0% 100%;

        --success: 152 69% 31%;
        --success-fg: 0 0% 100%;

        --info: 81.97 84.52% 67.06%;
        --info-fg: 89.27 80.39% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-fg: 240 3.8% 46.1%;

        --danger: 0 72.22% 50.59%;
        --danger-fg: 0 85.71% 97.25%;

        --warning: 43.26 96.41% 56.27%;
        --warning-fg: 20.91 91.67% 14.12%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: var(--primary);
        --toggle: 240 5% 84%;
        --radius: 0.5rem;
    }

    .dark {
        --bg: 0 0% 0%;
        --fg: 0 0% 98%;

        --overlay: 240 6% 6%;
        --overlay-fg: 0 0% 98%;

        --primary: 216 98% 52%;
        --primary-fg: 0 0% 100%;

        --secondary: 240 3.7% 15.9%;
        --secondary-fg: 0 0% 98%;

        --info: 84.91 100% 66.47%;
        --info-fg: 120 100% 13.14%;

        --accent: 216 98% 52%;
        --accent-fg: 0 0% 100%;

        --tertiary: 240 10% 5.5%;
        --tertiary-fg: 240 5% 96%;

        --muted: 240 3.7% 15.9%;
        --muted-fg: 240 5% 64.9%;

        --ring: var(--primary);
        --toggle: 240 5% 26%;
        --border: 240 7% 15%;
        --input: 240 3.7% 15.9%;
    }
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    * {
        @apply border-border;
        font-feature-settings: 'cv11', 'ss01';
        font-variation-settings: 'opsz' 850;
    }

    body {
        @apply bg-bg text-fg;
        font-feature-settings: 'rlig' 1, 'calt' 1;
        text-rendering: optimizeLegibility;
    }



    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #d4d4d8 transparent;
    }

    /* dark mode */
    .dark {
        scrollbar-width: thin;
        scrollbar-color: var(--secondary) transparent;

        @media (prefers-color-scheme: dark) {
            * {
                scrollbar-width: thin;
                scrollbar-color: var(--secondary) transparent;
            }
        }
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-muted;
        border-radius: 14px;
        border: 3px solid transparent;
    }
}

.react-aria-Button,
.react-aria-Dialog {
    outline: none;
}

.react-aria-DropIndicator[data-drop-target] {
    outline: 1px solid hsl(var(--primary));
}

@layer components {
    .no-scrollbar {
        -ms-overflow-style: none; /* Internet Explorer and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}
