@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-sans: 'GT Walsheim Pro';
        --font-mono: 'Jetbrains Mono';

        --background: 0 0% 98%;
        --foreground: 240 10% 4%;

        /* Blue */
        --primary: 240 100% 42%;
        --primary-foreground: 0 0% 98%;

        /* Zinc */
        --secondary: 240 5% 84%;
        --secondary-foreground: 240 10% 4%;

        /* Rose */
        --danger: 347 77% 50%;
        --danger-foreground: 0 0% 98%;

        /* Green*/
        --success: 120 100% 21%;
        --success-foreground: 0 0% 98%;

        /* Slate Blue */
        --info: 248 39% 48%;
        --info-foreground: 0 0% 98%;

        /* Amber */
        --warning: 32 95% 44%;
        --warning-foreground: 0 0% 98%;

        --dark: 240 10% 4%;
        --dark-foreground: 0 0% 98%;

        --muted: 240 5% 84%;
        --muted-foreground: 240 5% 65%;

        --accent: 240 100% 42%;
        --accent-foreground: 0 0% 98%;

        --border: 240 5% 84%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 4%;
        --foreground: 0 0% 98%;

        /* Dark Blue */
        --primary: 240 58% 39%;
        --primary-foreground: 0 0% 98%;

        /* Zinc */
        --secondary: 240 5% 26%;
        --secondary-foreground: 0 0% 98%;

        /* Crimson */
        --danger: 348 83% 47%;
        --danger-foreground: 0 0% 98%;

        /* Dark Green */
        --success: 120 100% 20%;
        --success-foreground: 0 0% 98%;

        /* Dark Slate Blue */
        --info: 248 39% 39%;
        --info-foreground: 0 0% 98%;

        /* Dark Orange */
        --warning: 32 95% 44%;
        --warning-foreground: 0 0% 98%;

        --dark: 0 0% 98%;
        --dark-foreground: 240 10% 4%;

        --muted: 240 5% 26%;
        --muted-foreground: 240 5% 34%;

        --accent: 240 58% 39%;
        --accent-foreground: 0 0% 98%;

        --border: 240 5% 26%;
    }
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    * {
        @apply border-border;
        font-feature-settings: 'cv11', 'ss01';
        font-variation-settings: 'opsz' 850;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: 'rlig' 1,
        'calt' 1;
    }

    *,
    .overflow-auto,
    .overflow-y-auto,
    .overflow-x-auto {
        @apply ease-in-out scrollbar-none scrollbar-track-background scrollbar-thumb-background scrollbar-thumb-rounded-full;
    }

    *,
    .overflow-auto:hover,
    .overflow-y-auto:hover,
    .overflow-x-auto:hover {
        @apply scrollbar-thin scrollbar-thumb-border;
    }
}


.react-aria-Button,
.react-aria-Dialog {
    outline: none;
}

.react-aria-DropIndicator[data-drop-target] {
    outline: 1px solid hsl(var(--primary));
}
